@import "src/layout/layout-util";

h2 {
  margin-bottom: 10px;
}

p {
  font-size: 14px;
}

mat-form-field {
  width: 90%;
  color: var(--on-surface);
}

.add {
  width: 45px;
  height: 45px;
  text-align: center;
  margin: 1% 2% 1% 1%;
  color: var(--primary);
}

.add-icon {
  width: 45px !important;
  height: 45px !important;
  font-size: 45px;
  line-height: 100% !important;
}

.close {
  margin-right: 10px;
}

.close-icon {
  color: var(--red);
}

.moderators {
  padding-left: 3%;

  &:nth-child(even) {
    background-color: var(--alt-dialog);
  }
}

.action-button-container {
  @include onSmallWidth {
    overflow: auto;
    display: flex;
    justify-content: space-between;
    flex-direction: column !important;
    flex-wrap: wrap;
    align-items: flex-end;
  }
}

.help-button {
  background-color: transparent;
  color: var(--green);
  outline: var(--green) solid 2px;
  margin: 10px;

  &:hover {
    background-color: var(--green);
    color: var(--black);
  }

  .mat-icon {
    font-size: 18px;
  }
}

.oldtypo-p {
  line-height: 2.5 !important;
}
