<mat-form-field floatLabel="always">
  <mat-label *ngIf="data.label">{{ data.label | translate }}</mat-label>
  <input
    [formControl]="data.control"
    matInput
    class="hidden-control" />
  <mat-radio-group [formControl]="data.control">
    <mat-radio-button
      *ngFor="let elem of data.options"
      [value]="elem.value">
      {{ elem.label | translate }}
    </mat-radio-button>
  </mat-radio-group>
  <mat-hint *ngIf="data.hint && !data.control.invalid">
    {{ data.hint | translate }}
  </mat-hint>
  <mat-error *ngIf="data.control.invalid">
    <ng-container *ngIf="data.errorStates | keyvalue as errors">
      <mat-error *ngIf="errors.length">
        {{ errors[0].value | translate }}
      </mat-error>
    </ng-container>
  </mat-error>
</mat-form-field>
